-#= simple_form_for @remain, html: { class: "form-horizontal" } do |form|
  -#= form.input :date
  -#.form-actions
    -#= form.button :submit, class: "btn btn-primary"
= form_tag({:action => :remains_create}) do
  =  text_field_tag :remain_date, @date
  =  submit_tag 'Ввести остатки на дату'
-#= yield :extjs
-#= netzke :remains
= form_tag remains_remains_update_path do 
  -#%table#remains_table.table.table-striped.table-condensed
    -#%thead
      -#%tr
        -#%td= t('Product_name')
        -#%td= t('Date')
        -#%td= t('Remain')
    -#%tbody
    -#- @remains.each do |remain|
      -#%tr 
        -#= hidden_field_tag "remain_ids[]", remain.id
        -#%td= remain.product.product_name
        -#%td= remain.remain_date
        -#%td= number_field_tag 'remain_quantity[][remain]', remain.remain
  -#%div
    -#%h6
      -#= t('Product_name')
      -#= t('Date')
      -#= t('Remain')
  %div#accordion_test
    - brand = ''
    - @remains.each do |remain|
      - if brand != remain.product.brand_name
        - if brand != '' 
          :plain
            </table>
            </div>
        - brand = remain.product.brand_name
        %h3
          = brand
        :plain
          <div>
          <table class="table-striped table-condensed" width=100%>
        %tr
          = hidden_field_tag "remain_ids[]", remain.id
          %td= remain.product.product_name
          %td= remain.product.brand_name
          %td= remain.remain_date.to_date()
          %td= number_field_tag 'remain_quantity[][remain]', remain.remain
      - else
        %tr
          = hidden_field_tag "remain_ids[]", remain.id
          %td= remain.product.product_name
          %td= remain.product.brand_name
          %td= remain.remain_date.to_date()
          %td= number_field_tag 'remain_quantity[][remain]', remain.remain
    :plain
      </table>
      </div>
      <br>
  = submit_tag t('remains.save'), :class => "btn btn-primary"
  
